<footer class="footer navbar-dark py-3 mt-auto">
    <div class="container">
    <div class="row">
        <div class="col-10">  <span class="">&copy; PlotKaro</span></div>               

     </div>      
    </div>
</div>
</footer>