<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="jumbotron jumbotron-fluid col-sm-7 ">
    <h1 class="display-4">Hello, there!</h1>
    <p class="lead">You can fill this form to get call from our representetive to know more or book a visit!</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/plots" role="button">Back to plots</a>
    </p>
  </div>
<div class="col-sm-5">
 
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScTZc2Hxm9JbYDXvTt-kLD_HJZJr0Ah9SaiEqW-c8H4aax5Uw/viewform?embedded=true" width="345" height="655" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>
</div>